<div class="header">
    <a class="logo" href="./">
        <p>
            <img height="75" src="./../assets/img/hat-logo.svg" />
        </p>
        <span class="logo" align="right">
            <font style="font-size: 30px; color: #ffffff; font-weight: 600;">
                Stats.Shuffle.Monster
            </font>
            <br />
            <font style="font-size: 20px; font-weight: 600;">Heap Tracker & Token Stats
            </font>
        </span>
    </a>
</div>

<!-- Navigation Bar -->
<nav>
    <div class="navbar navigation">
        <a href="https://stats.shuffle.monster">
            <i class="fas fa-home" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Home</a>
        <a href="https://github.com/shufflemonster" target="_blank">
            <i class="fab fa-github-alt" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Github
        </a>
        <a href="https://medium.com/shufflemonster" target="_blank">

            <i class="fab fa-medium-m" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Medium</a>
        </a>
        <a href="https://t.me/shuftoken" target="_blank">

            <i class="fab fa-telegram-plane" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Telegram</a>
        </a>
        <a href="https://twitter.com/ShuffleToken" target="_blank">

            <i class="fab fa-twitter" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Twitter</a>
        </a>
        <a href="https://www.reddit.com/r/ShuffleMonster/" target="_blank">

            <i class="fab fa-reddit-alien" style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Reddit</a>
    </div>
</nav>