<!DOCTYPE html>
<html>

<head>
  <%= require('html-loader!./templates/head.html') %>




</head>


<body>
  <%= require('html-loader!./templates/navbar-header.html') %>



  <div class="flex-container"
    style="background: url(/app/assets/img/greenbg-og.png) center repeat; background-size: cover; width: 100%;">

    <!-- insert data into <body> start -->
    <div>


        <br><br>
<font size="2">
        <h5><a class="nav-item" href="https://shuffle.monster" target="_blank">
            <img src="../app/assets/img/spinning-eyes.gif" class="shadow hover-effects" style="border-radius: 50% "
              height="50" width="50"></a>SHUF- Shuffle Monster Token api <kbd>fetchJson()</kbd> example.</h5>

        <p>
          <font style="color: #ffd000">Version:</font> <span id="apiVersion">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Name:</font> <span id="name">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Symbol:</font> <span id="symbol">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Contract URL:</font> <span id="contractUrl">loading...</span>
        </p>

        <p>
          <font style="color: #ffd000">Contract Address:</font> <span id="contractAddress">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Decimals:</font> <span id="decimals">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Initial Supply:</font> <span id="initialSupply">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Current Circulating Supply(readable):</font> <span
            id="circulatingSupplyReadable">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Current Circulating Supply(uint256):</font> <span
            id="circulatingSupply">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Token Burned (readable):</font> <span id="tokensBurned">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Current Heap Size:</font> <span id="heapSize">loading...</span> / 512
        </p>



        <p>
          <font style="color: #ffd000">Last address on the Heap (lowest):</font> <span
            id="lastHeapAddress">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Amount of tokens the last spot holds(readable): :<span
              id="lastHeapAmountReadable">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Amount of tokens the last spot holds(uint256):</font> <span
            id="lastHeapAmount">loading...</span>
        </p>



        <p>
          <font style="color: #ffd000">Current Ethereum Block #:</font> <span id="currentEthBlock">loading...</span>
        </p>
   
      <br><br><br>
      <h5 align="center"><kbd>fetchJson(); XMLHttpRequest();</kbd> page code below</h5>
    </font>
      <div>
        <script src="https://gist.github.com/GeoffedUP/13a88af4843b13a81044bb37249c0480.js"></script>
      </div>
    </div>
  </div>

</body>


</html>