/*----------------------------------------
Header
----------------------------------------*/

.header {
  overflow: hidden;

  /* background-color: #040f00; */
  /* background: linear-gradient(#030f00d5, #000000); */
  /* background: url(./../img/card1.png) transparent;
  height: 200px;
  opacity: 0.2; */
  /* background: url(.\..\img\shuf-banner.png) no-repeat left,
    url(.\..\img\greenbg-og.png) no-repeat center;
  background-size: 50, cover; */

  background: url(../../src/assets/shuf-banner-fade3.png) left top no-repeat, linear-gradient(90deg, #0042005e 9.11%, #004e00 83.74%), #001805;
  /* filter: drop-shadow(0px 0px 8px #00810b4d); */
  will-change: opacity;
  background-blend-mode: lighten, lighten;
  padding-right: 10px;
  background-size: cover, cover;
  float: center;
  height: 210px;
  /* width: none, 2000px; */
  /* background-position: center, center; */
  /* background-repeat: no-repeat, no-repeat; */

  /* position: relative, relative; */
  /* float: center, center; */
  /* position: center, center; */
}

.header img {
  text-align: center;

  line-height: 5px;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.header a.logo {
  text-align: center;
  font-size: 30px;
  float: right;
  line-height: 25px;
  margin: 0;
  text-decoration: none;
  /* padding: 5px 15px 5px 20px; */
}

/*----------------------------------------
Navbar
----------------------------------------*/

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 1300px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 650px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

nav {
  background: #001302a8;
}



.navbar {
  display: flex;
  background-color: #001302a8;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #e03400f8;
  color: #ffd000;
}

.navbar-toggler {
  color: #ffd000;
  background: transparent;
}

.navbar-toggler-icon i {
  color: #ff3c00f8;
  background: transparent;
}

.navbar i {
  color: #ff3c00f8;
  background: transparent;
}

.dropdown-menu {
  background: url(../../src/assets/greenbg-og.png) center top repeat;
  background-size: cover;
  border-color: #51ff00;
  border-block-width: 1px;
  margin-inline: 10vh;
}

.dropdown-menu a {
  color: #ffffff;
}


.btn-uniswap {
  background-color: #B55ADD;
  border-color: #ac45d9;
  color: #fff;
}

.btn-bamboo {
  background-color: #40b281;
  border-color: #399f73;
  color: #fff;
}

.btn-telegram {
  background-color: #0088cc;
  border-color: #0098e4;
  color: #fff;
}

.btn {
  /* width: 250px; */
  display: inline;
  text-align: center;
  display: inline;
}

.btn:hover {
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .mobile-top-margin {
    margin-top: 22px;
  }
}

/*----------------------------------------
head
----------------------------------------*/

.eye {
  position: absolute;
  top: 171px;
  left: 132px;
  z-index: 40;
  width: 50px;
  transform: rotateZ(0deg);
  will-change: transform;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.join-button {
  position: relative;
  text-align: left;
  display: flex;
  background-color: #AF2020;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-color: #AF2020;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 93.19%;
  padding: 14px;
}

.shuff-card {
  width: 45px;
  height: auto;
  margin: auto;
}

.shuff-card-image {
  width: 100%;
  z-index: 30;
  position: relative;
}

.card-glow {
  filter: drop-shadow(0px 0px 20px #95ff5786);
  left: 0%;
  position: top;
  top: 5px;
  will-change: opacity;

}

.background {
  position: static;
  width: 100%;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(308.23deg, #21540F 44.93%, #0b1b0a 98.22%), #153312;
}

@media screen and (max-width: 767px) {
  .mobile-top-margin {
    margin-top: 44px;
  }
}





/*----------------------------------------
Body
----------------------------------------*/

html {
  min-height: 100%;
}


p {
  word-wrap: break-word;
  flex-shrink: 5;
}

.flex-container {
  display: flex;
  flex-shrink: 5;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1px;
  flex-flow: row wrap;
  align-content: space-around;
}

.flex-container>div {
  width: 85%;
  background: #051800bd;
  border: 2px solid #051800;
  flex-shrink: 5;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  flex-flow: row wrap;
  margin: 1px;
  text-align: left;
}

a {
  color: #ffd000;
  font-family: "Poppins", sans-serif !important;
}

a:hover {
  color: #ff3c00;
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h2 :hover {
  color: #ffffff;
}


h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffd000;
}

/* h3 :hover {
  color: #001302e5;
} */

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h5 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

h6 {
  font-family: "Poppins", sans-serif;
  color: #ffd000;
  font-weight: 600;
}

.jumbotron {
  background: #00000000;
  /* background: linear-gradient(#200000d2, #683e0000); */

  /* background: #130000c2; */
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #ff3c00f8;
}

.btn-success:hover {
  color: #fff;
  background-color: #ff3c00f8;
  border-color: #2bff00;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem #ff3c00f8;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #2bff00;
  border-color: #ff3c00f8;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #ff3c00f8;
  border-color: #2bff00;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ff3c00f8;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .row {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

/* Create three unequal columns that sits next to each other */
/* Sidebar/left column */
.left {
  flex: 48%;
  background: #051800bd;
  border: 1px solid #051800cb;
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
  margin: 5px;
  text-align: top;
  margin: 1;
}

/* Main column */
.center {
  flex: 50%;
  background-color: transparent;
  padding: 20px;
}

/* Sidebar/right column */
.right {
  flex: 48%;
  background: #051800bd;
  border: 1px solid #051800cb;
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
  margin: 5px;
  text-align: top;
}

.fakeimg {
  /* background: url(.\..\img\greenbg-og.png) center top repeat; */
  /* background-size: cover; */
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
  box-shadow: 3px;
}

/* Fake image, just for this example */
.fakeimg-1 {
  /* background: url(.\..\img\greenbg-og.png) center top repeat; */
  /* background-size: cover; */
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
  text-align: top;
}

.fakeimg-2 {
  /* background: url(.\..\img\greenbg-og.png) center top repeat; */
  /* background-size: cover; */
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper>* {
  padding: 10px 10px;
  flex: 1 100%;
}

.top {
  background: transparent;
}

.box {
  /* text-align: left; */
  background: transparent;
}

.aside-1 {
  background: transparent;
  text-align: center;
}

.aside-2 {
  background: transparent;
  text-align: center;
}

.bottom {
  background: transparent;
  padding: 10px 10px 10px 10px;
  border-block-width: 10px;
  margin-bottom: 1vh;
  text-align: top;
}

@media all and (min-width: 500px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 1300px) {
  .box {
    flex: 1 0px;
  }

  .aside-1 {
    order: 4;
  }

  .box {
    order: 5;
  }

  .aside-2 {
    order: 6;
  }

  .bottom {
    order: 7;
  }
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: #474747;
  color: #ffffff;
  border: 0.5px solid #ffd000;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #1ba100;
  width: 100%;
  color: #ffffff;
  padding: 12px 20px;
  border: 1px solid #ff3c00f8;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

input[type="submit"]:hover {
  background-color: #ff3c00f8;
  border: 1px solid #2bff00;
  color: #000000;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}



/*----------------------------------------
Footer
----------------------------------------*/

.list-social {
  margin-bottom: 25px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: transparent;
}

.footer-top {
  padding: 60px 0 40px;
}

.btn.btn-facebook:hover,
.btn.btn-facebook:focus,
.btn.btn-facebook:active {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn.btn-twitter:hover,
.btn.btn-twitter:focus,
.btn.btn-twitter:active {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}

.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus,
.btn.btn-google-plus:hover {
  color: white;
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn.btn-instgram:hover,
.btn.btn-instgram:focus,
.btn.btn-instgram:hover {
  color: white;
  background-color: #9b6954;
  border-color: #9b6954;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form .form-control {
  background: #f5f5f5;
  border: none;
  -moz-border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  border-radius: 25px 0 0 25px;
  padding-left: 30px;
  height: 50px;
  padding: 5px 15px 5px 20px;
  box-shadow: none;
}

.subscribe-form .input-group-addon {
  padding: 0;
  background: none;
  border: none;
}

.subscribe-form .btn-subscribe {
  border-left: 1px solid #4dc755;
  padding: 0 20px;
  background: #4dc755;
  color: #fff;
  line-height: 50px;
  border: none;
  border-radius: 0 25px 25px 0;
}

.scrollUp {
  background-color: #ff7209 !important;
  border: 1px solid #ff7209 !important;
  border-radius: 8px;
  bottom: 30px;
  color: #ffffff;
  height: 45px;
  line-height: 3;
  right: 30px;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
  width: 45px;
}

.footer-bottom {
  padding-top: 12px;
  padding-bottom: 12px;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0px auto;
  padding: 0px;
  color: #848484;
  font-size: 14px;
}