<!-- Footer -->
<div class="footer">

    <div class="footer-bottom">




        <a style="text-decoration: none;" href="./api.html" target="_blank">
            <h4>SHUF Developer Api Link</h4>
        </a>
    </div>
    <div class="footer-top">


        <font size="4" color="#C0392B">❤</font>&nbsp;&nbsp;<a style="text-decoration: none;"
            href="https://etherscan.io/address/0x69696562885eB3C9a609f957efd150DF93BA8c2e"
            target="_blank">0x69696562885eB3C9a609f957efd150DF93BA8c2e</a>

    </div>

    <div class="copyright">
        <p>
            <font size="1">
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                    BY NC SA 4.0</a>.
            </font>
        </p>
    </div>
    <!--Start ClickToTop-->

    <div class="totop">
        <p align="right">
            <a href="#top" id="totop">
                <font size="8"><i style="opacity: 0.5;" class="fa fa-arrow-alt-circle-up"></i>
            </a></font>
        </p>
    </div>
</div>