<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>🃏SHUF🃏 Stats.Shuffle.Monster</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<!-- HTML Meta Tags -->
<meta name="description" content="Shuffle Monster Heap Tracker & Token Stats." />

<meta property="og:site_name" content="🃏SHUF🃏 Stats.Shuffle.Monster" />
<meta property="og:image"
  content="https://raw.githubusercontent.com/ShuffleMonster/mediapack/master/Media/eye-large.png" />
<meta property="og:description" content="Shuffle Monster Heap Tracker & Token Stats." />
<meta property="og:title" content="Stats.Shuffle.Monster" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="🃏SHUF🃏 Stats.Shuffle.Monster" />
<meta itemprop="description" content="Shuffle Monster Heap Tracker & Token Stats." />
<meta itemprop="image"
  content="https://raw.githubusercontent.com/ShuffleMonster/mediapack/master/Media/eye-large.png" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://Stats.Shuffle.Monster" />
<meta property="og:type" content="website" />
<meta property="og:title" content="🃏SHUF🃏 Stats.Shuffle.Monster" />
<meta property="og:description" content="Shuffle Monster Heap Tracker & Token Stats." />
<meta property="og:image"
  content="https://raw.githubusercontent.com/ShuffleMonster/mediapack/master/Media/eye-large.png" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="🃏SHUF🃏 Stats.Shuffle.Monster" />
<meta name="twitter:description" content="Shuffle Monster Heap Tracker & Token Stats." />
<meta name="twitter:image"
  content="https://raw.githubusercontent.com/ShuffleMonster/mediapack/master/Media/eye-large.png" />

<meta name="keywords"
  content="SHUF, Deflationary, Deflationary Token, Shuffle Monster, Shuffle, Heap, ShuffleMonster, Tokenomics, ERC20, Token, Ethereum, ETH, Crypto, Monster" />

<link rel="icon" type="image/icon" href="/app/assets/img/eyeball.ico" />

<script src="https://kit.fontawesome.com/6e91a3b975.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->



<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
<style>
  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
</style>

<script>
  function fetchJson() {
    var xhr = new XMLHttpRequest();

    // set a callback for when the json is loaded
    xhr.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) { // if json loaded successfully

        var data = JSON.parse(this.responseText);

        // do stuff with data
        document.querySelector("#apiVersion").innerText = data["apiVersion"];
        document.querySelector("#name").innerText = data["name"];
        document.querySelector("#symbol").innerText = data["symbol"];
        document.querySelector("#contractUrl").innerText = data["contractUrl"];
        document.querySelector("#contractAddress").innerText = data["contractAddress"];
        document.querySelector("#decimals").innerText = data["decimals"];
        document.querySelector("#initialSupply").innerText = data["initialSupply"];
        document.querySelector("#circulatingSupplyReadable").innerText = data["circulatingSupplyReadable"];
        document.querySelector("#circulatingSupply").innerText = data["circulatingSupply"];
        document.querySelector("#tokensBurned").innerText = data["tokensBurned"];
        document.querySelector("#heapSize").innerText = data["heapSize"];
        document.querySelector("#lastHeapAddress").innerText = data["heapTopAddress"];
        document.querySelector("#lastHeapAmountReadable").innerText = data["heapTopAmountReadable"];
        document.querySelector("#lastHeapAmount").innerText = data["heapTopAmount"];
        document.querySelector("#currentEthBlock").innerText = data["currentEthBlock"];
      }
    };

    // fetch the json
    xhr.open("GET", "https://api2.shuffle.monster", true);
    xhr.send();
  }
  window.onload = function () {
    fetchJson();
  };
</script>